.experiences{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
}

.experiences > h2{
    font-size: 20px;
    margin-bottom: 60px;
    position: relative;
    z-index: 900;
}

.experiencies__wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.experiencies__wrapper > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.experiences__line{
    height: 80vh;
    width: 3px;
    background-color: #f8f8f865;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.experiences__left > div > h3,
.experiences__right > div > h3{
    padding-top: 10px;
}

.experiences__left > div > h4:nth-of-type(2),
.experiences__right > div > h4:nth-of-type(2){
    padding: 20px 0;
}

.experiences__left > div > p,
.experiences__right > div > p{
    width: 400px;
    text-align: justify;
}

.experiences__right > div:nth-child(1){
    position: relative;
    top: 280px;
}

@media (width < 1150px){
    .experiences__left,
    .experiences__right,
    .experiences__left > div > p,
    .experiences__right > div > p{
        width: 300px;
    }
}

@media (width < 780px){
    .experiencies__wrapper{
        margin-top: 100px;
    }

    .experiences__left,
    .experiences__right,
    .experiences__left > div > p,
    .experiences__right > div > p{
        width: 250px;
    }
}

@media (width < 630px) {
    .experiencies__wrapper{
        display: flex;
        flex-direction: column;        
    }

    .experiences__line{
        display: none;
    }

    .experiences__left,
    .experiences__right,
    .experiences__left > div > p,
    .experiences__right > div > p{
        width: 700px;
        max-width: 95%;
    }

    .experience__left__single,
    .experiences__right__single{
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 3px solid #f5f5f5;
    }

    .experiences__right > div:nth-child(1){
        top: 0px;
    }
}

@media (width < 390px){
    .experiencies__wrapper{
        margin-top: 60px;
}

    .experience__left__single > h4 > i,
    .experience__right__single > h4 > i,
    .experience__left__single > h4,
    .experience__right__single > h4{
        font-size: 15px;
    }

    .experience__left__single > h3,
    .experience__right__single > h3{
        padding-top: 20px;
    }

    .experience__left__single > p,
    .experience__right__single > p{
        font-size: 14px;
    }
}

@media (width < 340px){
    .experiences > h2{
        font-size: 16px;
        font-weight: 800;
    }
}