footer{
    margin-top: 200px;
    height: 150px;
    background: linear-gradient(to bottom, #0e012200, #020e24d0);
    padding: 0 120px;
}

footer > h2{
    font-size: 16px;
    font-weight: 400;
}

footer > h2 > span{
    color: rgb(88, 88, 243);
}

.footer__socials__text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__socials{
    margin: 20px 0;
}

.footer__socials > a{
    margin-right: 5px;
    text-decoration: none;
}

.footer__socials > a:nth-last-of-type{
    margin-right: 0;
}

.footer__socials > a > svg{
    width: 32px;
    height: 32px;
}

.footer__text{
    width: 300px;
    text-align: justify;
    position: relative;
    top: -20px;
}

@media (width < 890px) {
    footer{
        padding: 0 60px;
    }
}

@media (width < 680px) {
    footer{
        padding: 0 20px;
    }
}

@media (width < 570px) {
    footer{
        height: 220px;
        margin-top: 150px;
    }
    
    footer > h2{
        font-size: 14px;
    }

    .footer__socials > a > svg{
        width: 26px;
        height: 26px;
    }

    .footer__text{
        width: 250px;
        font-size: 14px;
    }
}

@media (width < 480px) {    
    footer > h2{
        text-align: center;
    }

    .footer__socials__text{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__socials{
        padding-bottom: 20px;
    }
}