/*header*/
header{
    z-index: 900;
    padding: 40px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > h1{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

header > h1 > span{
    color: rgb(88, 88, 243);
    font-weight: 600;
}

/*men mobile*/
div.menu__mobile{
    display: none;
}

div.menu__mobile.is__open__menu__mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 999;
}

.menu__btn {
    position: relative;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 2;
}

div.menu__btn.is__menu__btn__open__menu__mobile{
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 999;
}

.menu__btn div {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #f8f8f8;
    transition: 0.3s ease;
    border-radius: 2px;
}

.menu__btn div:nth-child(1) {
    top: 0;
}

.menu__btn div:nth-child(2) {
    top: 10px;
    left: 8px;
}

.menu__btn div:nth-child(3) {
    top: 20px;
}

/* Quando clicado */
.menu__btn.active div:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}

.menu__btn.active div:nth-child(2) {
    opacity: 0;
}

.menu__btn.active div:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
}

/*links*/
.header__links > ul{
    display: flex;
    flex-direction: row;
}

.header__links li{
    list-style-type: none;
    z-index: 900;
    margin-left: 20px;
    cursor: pointer;
}

.header__links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    transition: all 0.4s ease-in-out;
}

.header__links a:hover{
    color: #d6d6d67e;
}

.menu__mobile__links{
    display: none;
}

.menu__mobile__links.active{
    display: flex;
}

.menu__mobile__links.active > ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.menu__mobile__links.active li{
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 30px;
    list-style-type: none;
    text-align: center;
}

/*media queries*/
@media (width < 1300px){
    header{
        padding: 40px 120px;
    }
}

@media (width < 970px){
    header{
        padding: 40px 90px;
    }
}

@media (width < 830px){
    header{
        padding: 40px 50px;
    }
}

@media (width < 680px){
    header{
        padding: 40px 30px;
    }

    .header__links > ul{
        display: none;
    }

    div.menu__mobile{
        display: flex;
    }
}

@media (width < 480px) {
    .menu__btn{
        width: 30px;
    }
}