.projects{
    margin-top: 120px;
}

.projects__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: 80px;
}

.project__single{
    border: 1px solid rgba(245, 245, 245, 0.185);
    border-radius: 5px;
    width: 400px;
    max-width: 95%;
    height: 520px;
    margin: 0px auto 30px auto;
    position: relative;
}

.project__single > picture,
.project__single > picture > img{
    width: 100%;
    max-width: 100%;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
}

.project__content{
    padding: 0 10px;
    
}

.project__content > .project__technologies{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project__technologies > .project__technology__single{
    margin-right: 10px;
}

.project__technologies > .project__technology__single:last-child{
    margin-right: 10px;
}

.project__technologies > .project__technology__single > h4{
    font-size: 14px;
    font-weight: 400;
    border: 1px solid rgba(245, 245, 245, 0.185);
    border-radius: 20px;
    padding: 4px 8px;
}

.project__title{
    padding: 8px 0 15px 5px;
}

.project__title > h3{
    font-size: 19px;
}

.project__description{
    padding: 0 10px;
}

.project__description > p{
    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
    letter-spacing: 0.4px;
    line-height: 24px;
}

.project__actions{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.project__actions > a > svg{
    background-color: transparent;
    width: 20px;
    height: 20px;
    
}

/*media queries*/
@media (width < 1170px) {
    .project__single{
        height: 530px;
    }
}

@media (width < 480px) {
    .projects__wrapper{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .project__single{
        height: 480px;
    }

    .project__single > picture,
    .project__single > picture > img{
        height: auto;
        max-height: 200px;
    }

    .project__content{
        padding: 10px 5px;
    }

    .project__content > .project__technologies{
        display: none;
    }

    .project__title{
        padding: 20px 0 25px 5px;
    }

    .project__title > h3{
        font-size: 19px;
    }

    .project__description > p{
        font-size: 13px;
    }

    .project__actions > a > svg{
        bottom: -40px;
    }
}

@media (width < 430px) {
    .project__single{
        height: 460px;
    }

    .project__actions > a > svg{
        bottom: -40px;
    }
}

@media (width < 402px) {
    .project__single{
        height: 470px;
    }

    .project__actions > a > svg{
        bottom: -35px;
    }
}

@media (width < 380px) {
    .project__actions > a > svg{
        bottom: -45px;
    }
}

@media (width < 361px) {
    .project__single{
        height: 480px;
    }

    .project__actions > a > svg{
        bottom: -40px;
    }
}

@media (width < 340px) {
    .project__single{
        height: 470px;
    }

    .projects > h2{
        font-size: 16px;
        font-weight: 800;
    }

    .project__title > h3{
        font-size: 17px;
    }

    .project__description > p{
        font-size: 12px;
    }
}

@media (width < 320px) {
    .project__single{
        height: 480px;
    }

    .project__actions > a > svg{
        bottom: -35px;
    }
}

@media (width < 290px) {
    .project__single{
        height: 475px;
    }

    .project__actions > a > svg{
        bottom: -45px;
    }
}